# Ignore any kind of image files inside the server folder (Commented out to allow pushing)
# *.png
# *.jpg
# *.jpeg
# *.gif
# *.svg
# *.webp
# *.bmp
# *.ico

# Ignore everything in the upload/ directory (Commented out to allow pushing image uploads)
# public/upload/**/*
# upload/**/*
# **/upload/**/*

# Dependencies
vendor/

# Database (Commented out to allow pushing sqlite databases)
# *.sqlite
# *.sqlite3
# database/*.sqlite
# database/*.sqlite3

# Env and configs
.env
config.php
